@font-face {
  font-family: 'Rubik-Black';
  src: url('../fonts/Rubik-Black.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'socicon';
  src: url('../fonts/socicon.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'themify';
  src: url('../fonts/themify.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
	color: #CCC;
	min-width: 320px;
	background: #000;
	letter-spacing: 0.3px;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	&:hover{
		color: #fff;
		text-decoration: none;
	}
	&:focus{
		color: #fff;
		text-decoration: none;
	}
}

button, button[type=submit], a, input{
	outline: none;
}
button:hover, button[type=submit], a:hover, input:hover{
	outline: none;
}
button:focus, button[type=submit], a:focus, input:focus{
	outline: none;
}
.wrapper{
	overflow: hidden;
}

.header {
	background: linear-gradient(#2D3E48, #2D3E48 48%, #1E2C33 52%, #141D23);
	display: flex;
	padding: 0px 10%;
	justify-content: space-between;
	align-items: center;
	.navbar-default {
	    background-color: transparent;
	    border: none;
	    margin-bottom: 0;
	    .navbar-nav>li>a{
	    	color: #D5D3D4;
	    	font-weight: bold;
	    	transition: 0.3s;
	    	padding-left: 25px;
	    	padding-right: 25px;

	    	&:hover{
	    		background: linear-gradient(#3D4045, #2E3235 48%, #0C0D0F 52%, #171B1A);
	    		color: #fff;
	    	}
	    }
	}
	&__customs {
		display: flex;
		align-items: center;
	}
	&__search-block {
		.search{
			display: flex;
			position: relative;
			width: 215px;
			.form-control{
				border-radius: 30px;
				box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
   				background: #EEE;
   				height: 28px;
   				padding-right: 35px;
   				padding-left: 10px;
			}
			button.btn.btn-default {
			    position: absolute;
			    right: 0;
			    background-color: transparent;
			    border: none;
			    outline: none;
			    padding: 6px 12px;
			    &:active{
			    	box-shadow: none;
			    }
			}
		}
		
	}
	&__registration {
		margin-left: 50px;
		a{
			color: #D5D3D4;
			font-size: 13px;
			padding-left: 15px;
			padding-right: 15px;
			transition: 0.3s;
			&:hover{
				color: #fff;
			}
		}
	}
}

.slider{
	.item{
		height: 440px;
	}
}

.content{
	background-color: #141D23;
	padding-top: 20px;
	.my-container{
		max-width: 1310px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.page{
		background-color: #2D3E48;
		padding: 20px 20px 0 20px;
		display: flex;
		margin-bottom: 0;
		.sidebar{
			margin-right: 20px;
			ul.categories{
				padding: 0;
				list-style: none;
				margin: 0;
				width: 220px;
				li{
					margin-bottom: 1px;
					a{
						background: #141D23;
	    				color: #D5D3D4;
	    				font-weight: bold;
	    				display: block;
	    				width: 100%;
	    				padding: 5px 15px;
	    				&:hover{
	    					background: #0E0F11;
						    color: #FFF;
						    border-radius: 3px;
						    margin-left: 3px;
						    color: white;
	    				}
					}
				}
			}
		}
		.page-content{
			width: 100%;
			margin-top: 0;
		}
		.game{
			background-color: #1E2C33;
			padding: 20px;
			width: 100%;
			height: auto;
			margin-bottom: 20px;
			display: flex;
			position: relative;
			.flex{
				display: flex;
			}
			&__image{
				flex-shrink: 0;
				margin-right: 30px;
				max-width: 260px;
				width: 100%;
			}
			&__title h1 {
				font-weight: bold;
				margin-top: 0;
			    margin-bottom: 30px;
			    color: white;
			    text-align: center;
			    font-size: 2em;
			}
			a.button{
				border: 2px solid #fff;
				background-color: transparent;
				position: absolute;
				bottom: 20px;
				right: 20px;
				padding: .5em 2em;
				color: #fff;
				font-weight: bold;
				transition: 0.3s;
				&:hover{
					background: rgba(255,255,255,.2);
				}
			}
			&__info{
				width: 100%;
				&__title{
					h1{
						text-align: center;
					}
				}
			}
			&__desc{
				width: 100%;
				b{
					color: #fff;
				}
			}
			h2{
				text-align: center;
				color: #fff;
				font-weight: bold;
				margin-bottom: 20px;
				 margin-top: 0;
				font-size: 1.5em;
			}
		}
	}
	.footer{
		background-color: #2D3E48;
		padding: 20px 0 30px;
		&__line{
			background: #502F2F;
			padding: 20px;
		}
	}
	
}